/*---------------------------------
|   Text Colors
-----------------------------------*/
.text--primary { color: $color--primary; }
.text--secondary { color: $color--secondary; }

.text--yellow--100 { color: $color--yellow--100; }
.text--yellow--500 { color: $color--yellow--500; }
.text--yellow--600 { color: $color--yellow--600; }
.text--yellow--700 { color: $color--yellow--700; }
.text--yellow--800 { color: $color--yellow--800; }
.text--yellow--900 { color: $color--yellow--900; }

.text--green--50 { color: $color--green--50; }
.text--green--100 { color: $color--green--100; }
.text--green--200 { color: $color--green--200; }
.text--green--300 { color: $color--green--300; }

.text--redOrange--100 { color: $color--redOrange--100; }
.text--redOrange--200 { color: $color--redOrange--200; }
.text--redOrange--300 { color: $color--redOrange--300; }

.text--red--100 { color: $color--red--100; }
.text--red--200 { color: $color--red--200; }
.text--red--300 { color: $color--red--300; }
.text--red--400 { color: $color--red--400; }

.text--blue--50 { color: $color--blue--50; }
.text--blue--100 { color: $color--blue--100; }
.text--blue--200 { color: $color--blue--200; }

.text--skyBlue--50 { color: $color--skyBlue--50; }

.text--orange--100 { color: $color--orange--100; }

.text--white { color: $color--white; }
.text--gray--50 { color: $color--gray--50; }
.text--gray--100 { color: $color--gray--100; }
.text--gray--200 { color: $color--gray--200; }
.text--gray--300 { color: $color--gray--300; }
.text--gray--400 { color: $color--gray--400; }
.text--gray--500 { color: $color--gray--500; }
.text--gray--600 { color: $color--gray--600; }
.text--gray--700 { color: $color--gray--700; }
.text--gray--800 { color: $color--gray--800; }
.text--gray--900 { color: $color--gray--900; }
.text--black { color: $color--black; }

.text--grayD--50 { color: $color--grayD--50; }
.text--grayD--100 { color: $color--grayD--100; }
.text--grayD--200 { color: $color--grayD--200; }
.text--grayD--300 { color: $color--grayD--300; }
.text--grayD--400 { color: $color--grayD--400; }
.text--grayD--500 { color: $color--grayD--500; }


/*---------------------------------
|   Background Colors
-----------------------------------*/
.bg--primary { background-color: $color--primary; }
.bg--secondary { background-color: $color--secondary; }

.bg--yellow--100 { background-color: $color--yellow--100; }
.bg--yellow--500 { background-color: $color--yellow--500; }
.bg--yellow--600 { background-color: $color--yellow--600; }
.bg--yellow--700 { background-color: $color--yellow--700; }
.bg--yellow--800 { background-color: $color--yellow--800; }
.bg--yellow--900 { background-color: $color--yellow--900; }

.bg--green--50 { background-color: $color--green--50; }
.bg--green--100 { background-color: $color--green--100; }
.bg--green--200 { background-color: $color--green--200; }
.bg--green--300 { background-color: $color--green--300; }

.bg--redOrange--100 { background-color: $color--redOrange--100; }
.bg--redOrange--200 { background-color: $color--redOrange--200; }
.bg--redOrange--300 { background-color: $color--redOrange--300; }

.bg--red--100 { background-color: $color--red--100; }
.bg--red--200 { background-color: $color--red--200; }
.bg--red--300 { background-color: $color--red--300; }
.bg--red--400 { background-color: $color--red--400; }

.bg--blue--50 { background-color: $color--blue--50; }
.bg--blue--100 { background-color: $color--blue--100; }
.bg--blue--200 { background-color: $color--blue--200; }

.bg--skyBlue--50 { background-color: $color--skyBlue--50; }

.bg--orange--100 { background-color: $color--orange--100; }

.bg--white { background-color: $color--white; }
.bg--gray--50 { background-color: $color--gray--50; }
.bg--gray--100 { background-color: $color--gray--100; }
.bg--gray--200 { background-color: $color--gray--200; }
.bg--gray--300 { background-color: $color--gray--300; }
.bg--gray--400 { background-color: $color--gray--400; }
.bg--gray--500 { background-color: $color--gray--500; }
.bg--gray--600 { background-color: $color--gray--600; }
.bg--gray--700 { background-color: $color--gray--700; }
.bg--gray--800 { background-color: $color--gray--800; }
.bg--gray--900 { background-color: $color--gray--900; }
.bg--black { background-color: $color--black; }

.bg--grayD--50 { background-color: $color--grayD--50; }
.bg--grayD--100 { background-color: $color--grayD--100; }
.bg--grayD--200 { background-color: $color--grayD--200; }
.bg--grayD--300 { background-color: $color--grayD--300; }
.bg--grayD--400 { background-color: $color--grayD--400; }
.bg--grayD--500 { background-color: $color--grayD--500; }