// Forms


.frm-input {
    position: relative;
    // border: solid 1px #18402C;
    text-align: left;

    &.fill {

        input {
            border-color: transparent;
            padding-top: 30px;
        }
    }

    label {
        position: absolute;
        top: 7px;
        left: 24px;
        z-index: 9;
        font-size: $font-size--10;
        color: $color--blue--50;
        opacity: 0;
        pointer-events: none;
    }

    #headlessui-listbox-button-2 {
        width: 100%;
        height: 52px;
        padding: 16px 24px;
        border-radius: 32px;
        font-size: $font-size--h5;
        color: $color--gray--900;
        background-color: $color--grayD--500;
        border-color: transparent;
    }

    input {
        width: 100%;
        height: 52px;
        padding: 16px 24px;
        border-radius: 32px;
        font-size: $font-size--h5;
        color: $color--gray--900;
        background-color: $color--grayD--500;
        border-color: transparent;
        @extend %trans-ease;

        &::placeholder {
            color: $color--gray--700;
        }

        &:focus {
            border-color: $color--primary;
            padding-top: 30px;

            & + label {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    select {
        height: 52px;
        padding-top: 23px;
        font-size: $font-size--h5;
        border-radius: 32px;
    }

    .show-password {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 22px;
        cursor: pointer;
    }

    .v3dp__popout {
        position: relative !important;
    }
}

.show-calendar {
    position: relative;

    input {
        display: none;
    }
    .v3dp__popout {
        display: inline-block !important;
        width: 100% !important;
        
        &:last-child {
            position: relative !important;
        }
    }

    .legends-holder {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateX(150%);

        .legend {
            position: relative;

            .circle {
                position: absolute;
                left: -20px;
                z-index: 99;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                top: 50%;
                transform: translateY(-50%);

                &.green {
                    background-color: green;
                }

                &.red {
                    background-color: red;
                }
            }

            span {
                font-size: 12px;
            }
        }
    }

}

.frm-input-time {
    background-color: $color--white;
    border-radius: 8px;
    height: 60px;
    position: relative;

    .time-select-holder {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    select {
        // padding: 0 !important;
        border: none;
    }
}