.image-text {
    .title {
        strong, b {
            color: #22857F;
        }
    }
}

.hm-contact {
    label {
        color: white;
    }
}

.direction-rtl {
    direction: rtl;
}

.team-card {
    display: inline-block;
    width: 30.33%;
    margin-right: 4.5%;
    margin-bottom: 80px;
    text-align: left;
    &:nth-child(3n) {
        margin-right: 0;
    }
}

.group-hover {
    .hover-child {
        max-height: 0;
        padding: 0 24px;
        overflow: hidden;
        transition: all 0.34s ease;
    }

    &:hover {
        .hover-child {
            max-height: 999px;
            padding: 24px;
            overflow: visible;
        }
    }
}

.group-hover2 {
    .hover-child2 {
        max-height: 0;
        padding: 0 24px;
        overflow: hidden;
        transition: all 0.34s ease;
    }

    &:hover {
        .hover-child2 {
            max-height: 300px;
            padding: 24px;
        }
    }
}

.hamburger-menu {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .bar {
        width: 14px;
        height: 1px;
        border-radius: 2px;
        background-color: white;
        transition: 0.5s;
        position: relative;

        &.scroll {
            background-color: #1C2C36;
            &:before,&:after {
                background-color: #1C2C36;
            }
        }

        &:before,&:after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            background-color: white;
            transition: 0.5s;
        }

        &:before {
            transform: translateY(-5px);
        }
        &:after {
            transform: translateY(5px);
        }
    }

    &.active {
        .bar {
            transform: rotate(360deg);
            background-color: transparent;
            &:before {
                transform: translateY(0) rotate(45deg);
            }
            &:after {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }
}
  


// Animation
.banner-image {
    animation: itemFloat 3s alternate infinite;
}

@keyframes bannerFloat {
    0% {
        transform: translateY(40px);
    }
    50% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(40px);
    }

}

.values-card {
    .img-cntnr {
        transition: all 0.5s ease;
    }
    &:hover {
        .img-cntnr {
            transform: scale(1.125);
        }
        .values-image {
            animation: itemFloat 1s alternate infinite;
        }
    }
}

@keyframes itemFloat {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }

}

.member-card {
    .team-img {
        transition: all 0.34s ease;
    }
    &:hover {
        .team-iso {
            animation: itemFloat 2s alternate infinite;
        }

        .team-img {
            transform: scale(1.05);
        }
    }
    
}

#flatform2 {
    animation: flatform 5s linear infinite;
}

@keyframes flatform {
    0% {
        transform: translateY(10px);
    }
    10% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }

}

#rocket {
    animation: propel 5s linear infinite;
}

@keyframes propel {
    0% {
        transform: translate(-24px, -16.25px);
    }
    20% {
        transform: translate(50px, 32.5px);
    }
    100% {
        transform: translate(-24px, -16.25px);
    }
}

#cube1 {
    animation: cube1 5s linear infinite;
}
#cube2 {
    animation: cube1 5s linear infinite;
}

#cube3 {
    animation: cube1 5s linear infinite;
    animation-delay: 0.5s;
    opacity: 0;
}

#cube4 {
    animation: cube1 5s linear infinite;
    animation-delay: 0.25s;
    opacity: 0;
}

#cube5 {
    animation: cube1 5s linear infinite;
    animation-delay: 0.75s;
    opacity: 0;
}

#cube6 {
    animation: cube1 5s linear infinite;
    animation-delay: 1s;
    opacity: 0;
}

#cube7 {
    animation: cube1 5s linear infinite;
    animation-delay: 1.125s;
    opacity: 0;
}
#cube8 {
    animation: cube1 5s linear infinite;
    animation-delay: 1.25s;
    opacity: 0;
}

#cube9 {
    animation: cube1 5s linear infinite;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes cube1 {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    50% {
        transform: translateY(-10px);
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(-15px);
        opacity: 0;
    }
}

.test-item {
    animation: pulse 1s alternate infinite;
}

@keyframes pulse {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

#box1 {
    animation: slide 5s linear infinite;
}
#box2 {
    animation: slide 5s linear infinite;
    animation-delay: .5s;
}
#box3 {
    animation: slide 5s linear infinite;
    animation-delay: 1s;
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(30px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#tower {
    animation: upDown 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes upDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

#chevron-left {
    animation: leftmovement 4s linear infinite;
}

@keyframes leftmovement {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-5px, 3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#chevron-right {
    animation: rightmovement 4s linear infinite;
}

@keyframes rightmovement {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(5px, -3px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#screen {
    animation: blink 4s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    21% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#gear-glow {
    animation: gearglow 5s alternate infinite;
}

@keyframes gearglow {
    0% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0.5;
    }
    60% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  
}

#shaft-glow {
    animation: gearglow 4s alternate infinite;
}

// #abox {
//     animation: box-animate 4s linear infinite;
//     transform: translateY(10px);
//     opacity: 0.5;
// }

#bbox {
    animation: box-animate 4s linear infinite;
    transform: translateY(10px);
    animation-delay: 0.5s;
    opacity: 0.5;
}
#cbox {
    animation: box-animate 4s linear infinite;
    transform: translateY(10px);
    animation-delay: 1.5s;
    opacity: 0.5;
}
#dbox {
    animation: box-animate 4s linear infinite;
    transform: translateY(10px);
    animation-delay: 2s;
    opacity: 0.5;
}

@keyframes box-animate {
    0% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    20% {
        transform: translateY(-5px);
        opacity: 1;
    }
    90% {
        transform: translateY(10px);
    }
    100% {
       opacity: 0.5;
    }
}

@media screen and (max-width: 1024px) {
    .header-wrapper,.header-logo,.nav-menu {
        transition: all 0.5s ease;
    }

    .nav-menu {
        background-color: white;
        right: 0;
        height: calc(100vh - 109px);
        width: 80%;
        padding: 0 20px;
        padding-top: 80px;
        overflow-y: auto;
        overflow-x: hidden;
        &.scroll {
            height: calc(100vh - 80px);
        }
    }

    .group-hover {
        .hover-child {
            position: relative;
            top: auto;
            max-height: 999px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 16px;
            * {
                font-weight: 400 !important;
            }
        }
    }

    .group-hover2 {
        .hover-child2 {
            position: relative;
            top: auto;
            left: 0;
            max-height: 999px;
            padding-left: 24px;
            padding-right: 24px;
            padding-top: 16px;
            * {
                font-weight: 400 !important;
            }
        }
    }

    .button-header {
        position: absolute;
        top: 0;
        transition: all 0.5s ease;
        right: 0;
        width: 100%;
        background-color: white;
        z-index: 10;
    }

    .text-3xl {
        font-size: 1.75rem;
        * {
            font-size: 1.75rem;
        }
    }

    .text-5xl {
        font-size: 2.5rem;
        * {
            font-size: 2.5rem;
        }
    }

    .text-h1 {
        font-size: 4rem;
        line-height: 4rem;
        * {
            font-size: 4rem;
            line-height: 4rem;
        }
    }

    .text-banner {
        h1 {
            font-size: 3rem !important;
            line-height: 3rem;
        }
    }

    .offer-card {
        .wrapper {
            background-color: white;
            color: black;
            padding-bottom: 152px;

            .text-cntnr {
                width: 100%;
            }
        }
        &:nth-child(2n) {
            .wrapper {
                background-color: #31BEB5;
                color: white;
            }
        }
    }
    

    .team-card {
        display: inline-block;
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}






